main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App {
  background-color: #1a1a1a;
  color: #ffffff;
  width: 100%;
  max-width: 495px;
  height: 100%;
  max-height: 383px;
  border-radius: 16px;
  padding: 16px 25px;
}

.heading {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding: 0px 0px 6px 0px;
}

.second-heading {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0px 0px 53px 0px;
}

.complaint-form {
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}

.complaint {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 0px 28px 0px;
}

.complaint-category-label {
  font-size: 14px;
  font-weight: 400;
}

.complaint-category-input {
  width: 100%;
  max-width: 208px;
  height: 33px;
  font-size: 12px;
  padding: 8px 0 9px 12px;
  border-radius: 5px;
  background-color: #f2f2f2;
}

.complaint-description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding: 0px 0px 12px 0px;
}

.complaint-description-label {
  font-size: 14px;
  font-weight: 400;
}

.complaint-description-input {
  width: 100%;
  max-width: 208px;
  height: 126px;
  font-size: 12px;
  resize: none;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.complaint-description-input {
  padding: 9px 12px;
}

.submit-button {
  width: 100%;
  max-width: 446px;
  height: 33px;
  background-color: #d9d9d9;
  border-radius: 5px;
}
